/* section for the layout of an interaction - need more cleanup */
.interaction{
				position:absolute;
				x-float:left;
				width:300px;
				margin:2em 10px 4em;
				background:#fff;
				border:1px solid #cccccc;
				/*
				-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
				-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
				box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
				*/
				-moz-border-radius:2px; 
				border-radius:2px;
			}
			
			
			
			.interaction{
				background: rgb(249,249,249); /* Old browsers */
				background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(232,232,231,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(232,232,231,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(232,232,231,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(232,232,231,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(232,232,231,1) 100%); /* IE10+ */
				background: linear-gradient(top, rgba(249,249,249,1) 0%,rgba(232,232,231,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e7',GradientType=0 ); /* IE6-9 */
			}
			

			.interaction:after { 
				position:absolute; 
				content:"";			  
				z-index:-2;
				bottom:14px;
				right:5px;
				width:280px;
				height:20%;
				max-width:300px;
				-webkit-box-shadow:0 15px 5px rgba(0, 0, 0, 0.2);   
				-moz-box-shadow:0 15px 5px rgba(0, 0, 0, 0.2);
				box-shadow:0 15px 5px rgba(0, 0, 0, 0.2);
				-webkit-transform:rotate(1deg);    
				-moz-transform:rotate(1deg);   
				-ms-transform:rotate(1deg);   
				-o-transform:rotate(1deg);
				transform:rotate(1deg);
			}
			
			.interaction{
				font:normal 14px/1.2 'Open Sans', sans-serif;
				text-shadow:0px 1px 0px #ffffff;
				color:#131313;
			}
			.interaction .interactionActions{
				position:absolute;
				bottom:5px;
				right:5px;
			}
			.interaction:hover .interactionActions span{opacity:0.9;}
			.interaction .interactionActions span{opacity:0.2;margin:0 0 0 5px;float:left;display:block;width:14px;height:14px;text-indent:-1000px;overflow:hidden;background: url('../img/sprite.png') no-repeat left top;cursor:pointer;}
			.interaction .interactionActions span{
				/* css transitions applied on the over effect */
			  -webkit-transition: 0.25s linear all;
			  -moz-transition: 0.25s linear all;
			  -ms-transition: 0.25s linear all;
			  -o-transition: 0.25s linear all;
			  transition: 0.25s linear all;
			}  
			
			.interaction span.interactionSeverAll{background-position:-82px -10px;}
			.interaction span.interactionDelete{background-position:-60px -10px;cursor:not-allowed;}
			.interaction span.interactionDraggable{background-position:-104px -10px;cursor:move;}
			
			
			
			.interaction .userSees{font-weight:bold;border-bottom:1px solid #dbdbda;margin:0;padding:10px 10px 5px 10px;}
			.interaction .userActions{list-style:none;margin:0;padding:0;border-top:1px solid #ffffff;}
			
			.interaction .userAction{
				cursor:pointer;margin:0;position:relative;padding:0;border-bottom:1px dashed #d7d7d7;
				/* css transitions applied on the over effect */
			  -webkit-transition: 0.25s linear all;
			  -moz-transition: 0.25s linear all;
			  -ms-transition: 0.25s linear all;
			  -o-transition: 0.25s linear all;
			  transition: 0.25s linear all;
			}
			.interaction .userAction:hover{
				background:#e8e8e8;
			}
			.interaction .userAction:hover span{
				display:block;
			}
			
			.interaction .userAction p{
				color:#6a6a6a;font-size:12px;margin:0;padding:5px 10px;text-shadow:0px 1px 0px #ffffff;
			}
			
			
			
			.interaction .userAction span{
				position:absolute;left:-24px;display:none;top:0px;left:-40px;background:inherit;
				padding:4px;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-bottom-left-radius: 5px;
				-moz-border-radius-topleft: 5px;
				-moz-border-radius-bottomleft: 5px;
				/* css transitions applied on the over effect */
			  -webkit-transition: 0.25s linear all;
			  -moz-transition: 0.25s linear all;
			  -ms-transition: 0.25s linear all;
			  -o-transition: 0.25s linear all;
			  transition: 0.25s linear all;
			}
			.interaction .userAction span a{
				display:inline-block;width:14px;height:14px;margin:1px;overflow: hidden;text-indent: -100px;background:url('../img/sprite.png') no-repeat left top;cursor:pointer;position:relative;top:25%;
			}
			.interaction .userAction span a.userActionDelete{background-position:-60px -10px}
			.interaction .userAction span a.userActionSever{background-position:-82px -10px;}
			.interaction .userAction:hover span{display:block;}


			.interaction .newUserAction{
				opacity:0.2;display:inline-block;margin:10px 0 5px 10px;padding:0 0 0 15px;color:#4282d9;font-size:11px;text-shadow:0px 1px 0px #ffffff;text-decoration:none;background:url('../img/sprite.png') no-repeat -149px -8px;
				/* css transitions applied on the over effect */
			  -webkit-transition: 0.25s linear all;
			  -moz-transition: 0.25s linear all;
			  -ms-transition: 0.25s linear all;
			  -o-transition: 0.25s linear all;
			  transition: 0.25s linear all;

			}
      .interaction:hover .newUserAction{opacity:1}
/* end of interaction styles */
._jsPlumb_endpoint.ui-droppable{
	background:url('../img/sprite.png') no-repeat -10px -10px;
}
._jsPlumb_endpoint.ui-draggable{
	background:url('../img/sprite.png') no-repeat -35px -10px;
}

html{
	x-background:url('../img/pattern.jpg') repeat left top;
	height:100%;width:100%;
}
body{
	margin:0;padding:0;height:100%;width:100%;
	x-background: url('../img/vignette.png') no-repeat left top; background-size:cover;
	background:#f8f8f8;
}
#uiflows{height:100%;width:100%;}