/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	color:#000;
	line-height:1.3em;
	font: inherit;
	vertical-align: baseline;
	font-family:arial;
	/*font-family: Gill Sans;*/
	font-size:12px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	text-align:center;
	line-height: 1.3;
}
ol, ul {
	/**list-style: none;**/
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	outline:none;
	text-decoration:none;
	color:#145486;
}
a span{
	color:#145486;
}

h1{
	font-weight:normal;
	font-size:32px;
	margin:0px;
	line-height:1.0em;
	padding:0px;
	border:solid 1px ddd !important;
}
h2{
	font-weight:bold;
	font-size:14px;
	margin:5px auto 10px auto;
}

blockquote{
	font-size:11px;
	padding:7px;
	background:#f8f8f8;
	border:solid 1px #efefef;
	margin:5px auto 20px auto;
}

em{font-weight:bold;}

.clear{clear:both;}



.clear{clear:both; line-height:1.0em; padding:0px; margin:0px; display:block;}

.light{
	color: #79aeae !important;
}

p{
	font-size:12px !important;
	line-height:1.7em !important;
	margin:0px auto 15px auto;
}

p input[type="text"],
p input[type="password"],
p.large input[type="text"],
p.large input[type="password"],
input.largeInput,
input.largeInput{
	background:#fff; 
	border:solid 1px #ddd;
	padding:3px !important;
	font-size:14px !important;
}

input[type="text"]:focus,
input[type="password"]:focus{
	border:solid 1px #3B80EE;
	background: #FEFEE4 !important;
	border:solid 2px #777 !important;
}


.error,
p.large .error{
	font-size:10px;
	margin-left:0px;
	color:#a73601;
}


.notes{
	line-height:1.5em !important;
}

