body {
  background: #fff; }

.topbar {
  text-align: right;
  border-top: solid 3px #757575; }

.topbar .topcontent {
  width: 800px;
  margin: auto;
  border: solid 0px #ddd; }

.topcontent a,
.topcontent span {
  font-size: 9px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 0px 2px;
  padding: 0px 7px 4px 7px !important;
  vertical-align: top;
  line-height: 1.0em !important;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

.topcontent .openings {
  background: #757575;
  text-shadow: 1px 1px 1px #555; }

.topcontent a.login {
  background: #da4601;
  text-shadow: 1px 1px 1px #ae3801; }

.topcontent a.logout {
  background: #da5517;
  float: right;
  text-shadow: 1px 1px 1px #a73601; }

.content {
  width: 800px;
  margin: auto;
  text-align: left; }

.header {
  text-align: center; }

.header nav a {
  color: #555;
  font-size: 11px;
  font-weight: bold;
  margin: 0px 10px;
  display: inline-block; }

.header nav a.active {
  color: #222; }

a.logo {
  text-indent: -10000px;
  display: block;
  margin: auto;
  background: url("../images/sprite.png") no-repeat; }

a.logo.large {
  height: 50px;
  width: 175px; }

a.logo.small {
  height: 36px;
  width: 126px;
  background-position: 0px -53px; }

.content.welcome {
  width: 570px;
  border: solid 0px #ddd;
  margin: auto; }

.content.definitions,
.content.experiment {
  width: 600px; }

#welcomeChartWrapper {
  background: #f8f8f8;
  padding: 10px;
  border: solid 1px #ebebeb; }

#welcomeChart {
  width: 670px;
  width: 550px;
  height: 250px;
  background: #f8f8f8;
  margin: auto;
  position: relative; }

.ui-tooltip {
  line-height: 1.5em !important; }

.qtiptitle {
  font-weight: bold;
  color: #ddd;
  text-shadow: 0px 1px 1px #111;
  display: block; }

.highlight {
  background: #fefee4; }

.qtipstat {
  color: #b5b5b5;
  font-size: 11px;
  display: inline-block;
  margin: 2px 4px;
  text-shadow: 0px 1px 1px #111; }

.qtipstat em {
  font-size: 12px;
  font-weight: bold;
  color: #fefee4;
  color: #f8f8f8 !important; }

.yAxis.y1Axis .tickLabel {
  border: solid 0px #da5517;
  margin-right: 5px !important; }

.tickLabel {
  font-size: 8px;
  color: #777; }

.legendLabel {
  font-size: 9px;
  color: #777; }

.legendColorBox div div {
  width: 3px !important;
  height: 0 !important;
  border-width: 2px !important; }

.worst {
  width: 240px;
  float: right;
  background: #f8f8f8;
  padding: 10px;
  border: solid 1px #ebeaea; }

.best {
  width: 240px;
  float: left;
  background: #f8f8f8;
  padding: 10px;
  border: solid 1px #ebeaea; }

.franklin {
  float: right;
  height: 230px;
  width: 190px;
  border: solid 0px #ddd;
  margin: 10px 0px 0px 0px;
  background: url("../images/sprite.png") -225px 0px no-repeat; }

h1 {
  font-size: 22px;
  font-weight: normal;
  margin: 20px auto 0px auto;
  text-align: left; 
  color:#004278;
}

p.large {
  font-size: 15px;
  line-height: 1.5em;
  margin: 10px auto 30px auto; }

p.large em {
  font-size: 15px; 
	color:#004278;}

p.large a {
  font-size: 15px; }

.buttons.large em {
  font-size: 15px; }

p.large.welcome {
  margin: 20px 230px 10px 0px !important; }

.icon {
  float: right;
  height: 215px;
  width: 205px;
  margin-left: 30px;
  background: url("../images/sprite.png") 0px -120px no-repeat; }

.notes {
  padding: 15px;
  margin-bottom: 20px;
  background: #f8f8f8;
  border: solid 1px #f4f4f4; }

.notes li {
  font-size: 11px;
  margin: 0px 0px 10px 20px; }

.welcomelinks {
  text-align: left; }

.button {
  color: #fff;
  line-height: 1;
  font-weight: normal;
  letter-spacing: 0.02em;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.button.large {
  margin: 20px 7px;
  padding: 7px 10px}

.button.green {
  text-shadow: 1px 1px 1px #367b27;
  border-bottom: 1px solid #367b27;
  background: #4e983d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #58ab3c 0%, #4e983d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #58ab3c), color-stop(100%, #4e983d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #58ab3c 0%, #4e983d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #58ab3c 0%, #4e983d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #58ab3c 0%, #4e983d 100%);
  /* IE10+ */
  background: linear-gradient(top, #58ab3c 0%, #4e983d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$green-top', endColorstr='$green-bottom',GradientType=0 );
  /* IE6-9 */ }

.button.blue {
  text-shadow: 1px 1px 1px #01488a;
  border-bottom: 1px solid #01488a;
  background: #1f70bb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2e81cc 0%, #1f70bb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e81cc), color-stop(100%, #1f70bb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2e81cc 0%, #1f70bb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2e81cc 0%, #1f70bb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2e81cc 0%, #1f70bb 100%);
  /* IE10+ */
  background: linear-gradient(top, #2e81cc 0%, #1f70bb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$blue-top', endColorstr='$blue-bottom',GradientType=0 );
  /* IE6-9 */ }

.button.red {
  text-shadow: 1px 1px 1px #a73601;
  border-bottom: 1px solid #a73601;
  background: #cb4101;
  /* Old browsers */
  background: -moz-linear-gradient(top, #da5517 0%, #cb4101 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #da5517), color-stop(100%, #cb4101));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #da5517 0%, #cb4101 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #da5517 0%, #cb4101 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #da5517 0%, #cb4101 100%);
  /* IE10+ */
  background: linear-gradient(top, #da5517 0%, #cb4101 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$red-top', endColorstr='$red-bottom',GradientType=0 );
  /* IE6-9 */ }

.virtues {
  width: 42%;
  margin: 0px 10px; }

.virtues.right {
  float: right; }

.virtues.left {
  float: left; }

dl {
  margin: 10px auto; }

dl dt em {
  background: #fefee4; }

dl dd {
  line-height: 1.7em; }

/** Login styles **/
.loginContainer {
  width: 600px; }

.loginContainer .buttons span a {
  color: #2071bc;
  font-size: 9px; }

.loginWrapper.notes {
  margin-top: 20px !important;
  width: 600px;
  background: #f8f8f8 !important; }

.loginWrapper .message {
  width: 350px;
  margin: 0px; }

.loginForm {
  width: 350px;
  padding: 15px;
  margin: 5px 20px 0px 0px; }

.loginForm label {
  display: inline-block;
  width: 100px;
  text-align: right;
  font-size: 14px; }

.loginForm p {
  margin: 10px 0px 20px 0px; }

.loginContainer .buttons {
  text-align: right;
  width: 330px !important;
  border: solid 0px #ddd;
  margin: 0px; }

.loginContainer .buttons span {
  font-size: 9px;
  color: #777;
  font-weight: bold; }

/** base styles for inputs **/
input[type="text"],
input[type="password"] {
  padding: 3px;
  font-size: 14px; }

input[type="text"]:focus,
input[type="password"]:focus {
  background: #fefee4;
  border: solid 2px #777; }

/** registration styles **/
.registrationContainer {
  width: 600px; }

.registrationContainer .franklin {
  margin-top: 20px !important; }

.registrationContainer h1 {
  margin-bottom: 0px;
  padding: 0px; }

.registrationContainer p.large {
  margin-top: 0px;
  border: dashed 0px #ddd; }

.registrationContainer .buttons {
  padding-bottom: 15px; }

.registrationContainer .buttons span a {
  color: #2071bc;
  font-size: 9px; }

.registrationWrapper.notes {
  margin-top: 0px !important;
  width: 600px;
  background: #f8f8f8 !important; }

.registrationWrapper .message {
  width: 550px;
  margin: 0px; }

.registrationForm {
  width: 550px;
  padding: 0px 15px 15px 15px;
  margin: 5px 20px 0px 0px; }

.registrationForm label {
  display: inline-block;
  width: 120px;
  text-align: right;
  font-size: 14px; }

.registrationForm p {
  margin: 10px 0px 20px 0px; }

.registrationContainer .buttons {
  text-align: right;
  width: 330px !important;
  border: solid 0px #ddd;
  margin: 0px; }

.registrationContainer .buttons span {
  font-size: 9px;
  color: #777;
  font-weight: bold; }

/** reset styles **/
.resetContainer {
  width: 550px; }

.resetContainer .franklin {
  margin-top: 20px !important; }

.resetContainer h1 {
  margin-bottom: 0px;
  padding: 0px; }

.resetContainer p.large {
  margin-top: 0px;
  border: dashed 0px #ddd; }

.resetContainer .buttons {
  padding-bottom: 15px; }

.resetContainer .buttons span a {
  color: #2071bc;
  font-size: 9px; }

.resetWrapper.notes {
  margin-top: 0px !important;
  width: 550px;
  background: #f8f8f8 !important; }

.resetWrapper .message {
  width: 550px;
  margin: 0px; }

.resetForm {
  width: 550px;
  padding: 0px 15px 15px 15px;
  margin: 5px 20px 0px 0px; }

.resetForm label {
  display: inline-block;
  width: 120px;
  text-align: right;
  font-size: 14px; }

.resetForm p {
  margin: 10px 0px 20px 0px; }

.resetContainer .buttons {
  text-align: right;
  width: 330px !important;
  border: solid 0px #ddd;
  margin: 0px; }

.resetContainer .buttons span {
  font-size: 9px;
  color: #777;
  font-weight: bold; }

.inactive em, .inactive span {
  color: #777 !important; }

em.highlight {
  background: #fefee4 !important; }

/* welcome page styles continued */
.stats h2 {
  font-size: 18px;
  margin: 5px 0px;
  padding: 0px;
  line-height: 1.0em; }

.stats.best h2 {
  color: #01488a; }

.stats.worst h2 {
  color: #a73601; }

table.entries {
  width: 100%; }

table.entries th {
  padding: 3px;
  text-align: center;
  font-size: 9px;
  color: #777;
  font-weight: bold;
  background: #efefef; }

table.entries tr {
  background: #f8f8f8;
  width: 100%;
  margin: 0px;
  padding: 0px; }

table.entries tr.even {
  background: #fff; }

table.entries td {
  text-align: center;
  font-size: 12px;
  vertical-align: top;
  padding: 7px 0px; }

table.entries td em {
  font-size: 15px;
  font-weight: bold; }

.footernav a {
  display: inline-block;
  margin: 0px 10px; }

#adminpanel ul li.controller {
  display: inline-block !important;
  padding: 0px;
  margin: 0px 5px;
  font-size: 10px; }

#adminpanel a {
  font-size: 10px; }
